body {
    background-color: #E5E4E2;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, nav {
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

form {
    text-align: center;
    line-height: 2em;
}

nav {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.menuoptions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.flag {
    width: 15em;
    height: 12em;
}

.flag:hover {
    width: 17em;
    height: 15em;
}

.frontpage {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.menu, .findus, .reviews {
    flex: 1;
    padding: 1em;
    margin: 1em;
    background-color: #C0C0C0;
}

.topbar {
    background-color: #C0C0C0;
    margin: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.menuitem {
    font-size: 2em;
}

.foodimg {
    width: 25em;
    height: 25em;
}

.sidenote {
    font-size: .75em;
    text-align: center;
    font-style: italic;
    color: red;
}

.review {
    font-style: italic;
    font-size: 1.25em;
    line-height: 1em;
    padding: 1em;
}

.findus {
    text-align: center;
    font-weight: 200;
    padding: 1em;
}

.menu {
    padding: 1em;
    text-align: center;
}

#menu {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    background-color: #CDCDCD;
    margin: 1em;
}

#item1, #item3 {
    align-self: flex-start;
    margin-left: 10em;
}

#item2, #item4 {
    align-self: flex-end;
    margin-right: 10em;
}